body{
    margin-top: 50px;
}

.box{
    width: 120px;
    height: 40px;
    line-height: 20px;
    margin: 10px auto;
    border: 2px solid black;
    font-size: 20px;
}

.box1{
    background: red;
}

.box2{
    background: green;
}

.box3{
    background: blue;
}

.box4{
    background: yellow;
}

.box:hover{
    transform:scale(1.15);
    cursor:pointer;
    box-shadow:0 0 10px gray;
}